@*
    //RPSMain - Index View Template
*@
@{
}

<h1>Rock, Paper, Scissors, the Web API edition!</h1>

Please, choose one of the following options:

<ul>
    <li><a asp-controller="RPSMain" asp-action="Register"> Register as a new player. </a></li>
    <li>Play a game, or continue playing your last game.</li>
    <li>View game stats</li>

</ul>