@*
    Player Registration form
*@
@{
}

<form method="post" asp-controller="">
    <label for="txtName">Name</label>
    <input type="text" name="name" id="txtName" />
    <input type="submit" value="Register!"/>
</form>