@*
    Player Registration form
*@
@{
}

<form method="post" asp-controller="">
    <label for="txtName">Name</label>
    <input type="text" name="name" id="txtName" />
    <input type="button" id="btnSubmit" value="Register!"/>
</form>

<div id="regStatus"></div>

@section scripts
{
    <script type="text/javascript">
        $("#btnSubmit").click(function () {
            
            $.post("/api/players", { name: $("#txtName").val() }, function (e) {
                alert(e);
            });

        });
</script>
}

